@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 148, 163, 184;
  --background: #0b1120;

  --radius: 15vmin;
  --frame-size: calc(var(--radius) / 3);
  --d-outer: calc(var(--radius) * 2);
  --d-inner: calc(var(--d-outer) - var(--frame-size));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 148, 163, 184;
    --background: #0b1120;

    --radius: 35vmin;
    --frame-size: calc(var(--radius) / 3);
    --d-outer: calc(var(--radius) * 2);
    --d-inner: calc(var(--d-outer) - var(--frame-size));
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

.text {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: rotateText 10s linear infinite;
}
@keyframes rotateText {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.text p span {
	position: absolute;
	left: 50%;
	font-size: 1.2em;
	transform-origin: 0 var(--radius);
}