@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 148, 163, 184;
  --background: #0b1120;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 148, 163, 184;
    --background: #0b1120;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

.scroll-wrapper {
  overflow :hidden;
  width: 250px;
  display:inline-block;
  white-space: nowrap;
}

.scroll-container {
  width: 566px;
  display: flex;
  flex-wrap: nowrap;
  animation: move 2s infinite linear; /* set the time to what you want of course */
}

.scroll-container p {
  margin:0;
  padding-left:0px;
  width:280px;
}

@keyframes move {
  to {
    transform: translateX(-50%);
  }
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.text svg {
  fill: transparent;
}

.text textPath {
  fill: white;
  font-size: 3.5px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.grid-pattern {
  background: url("/img/grid.svg") repeat 0 0;
}